[MESSAGES CONTROL]
# Enable/disable specific messages
disable=
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-locals,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-many-nested-blocks,
    too-many-lines,
    too-many-boolean-expressions,
    too-many-positional-arguments,
    line-too-long,
    fixme,
    too-many-ancestors,
    too-few-format-args

# Enable useful checks
enable=
    use-symbolic-message-instead

[MASTER]
# Load plugins
load-plugins=

# Paths to ignore
ignore-paths=
    build,
    dist,
    docs,
    migrations,
    .venv,
    venv,
    .tox,
    .pytest_cache

# Persistent cache for performance
persistent=yes

# Number of parallel jobs
jobs=2

# Good variable names which should not be checked
good-names=
    i,j,k,x,y,z,_,id

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

# Maximum number of lines in a module
max-module-lines=1000

[DESIGN]
# Maximum number of arguments for function / method
max-args=10

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of return / yield for function / method body
max-returns=11

# Maximum number of branch for function / method body
max-branches=20

# Maximum number of statements in function / method body
max-statements=60

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of attributes for a class (see R0902).
max-attributes=10

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Maximum number of public methods for a class (see R0904).
max-public-methods=25

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=

# List of classes names for which member attributes should not be checked
ignored-classes=
    aiohttp.ClientSession

[VARIABLES]
# List of additional names supposed to be defined in builtins
additional-builtins=

# List of strings which can identify a callback function by name
callbacks=
    cb_,
    _cb

[LOGGING]
# Logging modules to check that the string format arguments are in logging function parameter format
logging-modules=
    logging,
    unittest.mock

[CLASSES]
# List of method names used to declare (i.e. assign) instance attributes
defining-attr-methods=
    __init__,
    __new__,
    setUp,
    __post_init__

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma
notes=
    FIXME,
    XXX,
    TODO
